{% extends "registration/base.html" %}

{% load django_bootstrap5 %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-md-4"></div>

    <div class="col-md-4">

      {% if forms.errors %}

      <p>Some information might be incorrect</p>
      {% endif %}

      <div class="card mt-4">

        <div class="card-title bg-primary py-3">

          <h3 class="text-center text-white">
            Sign Up

          </h3>
        </div>
        <div class="card-body">


          <form action="/accounts/register/" method="post">

            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="form-group">

              <input type="submit" class="btn btn-primary btn-sm" value="Sign Up">
              Already have an account? <a href="/accounts/login">Login</a>

            </div>
            <input type="hidden" name="next" value="{{next}}">
          </form>
        </div>


      </div>
    
    </div>
    <div class="col-md-4"></div>
  </div>
</div>

{% endblock %}