
{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'asset-images/instagramlogo.png' %}" height="32"
        alt=""></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse me-auto navbar-collapse d-lg-flex flex-row justify-content-around align-items-center" id="navbarSupportedContent">
      
     <div class="navbar-nav">
      <form class="d-flex nav-item align-items-center mt-3" action="{% url 'search'  %}" method="GET">
        <input class="form-control" type="search" name="search_word" placeholder="Search" aria-label="Search">
      
      </form>
    </div>
    
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex align-items-center justify-content-around">
        
        <li class="nav-item mx-lg-1">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li>
          <a href="{% url 'new_post' %}">
            <img src="{% static 'asset-images/new.png' %}" alt="" height="32" width="32" class="">
          </a>
        </li>
        <li class="nav-item dropdown mx-lg-5">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <img src="{% static 'asset-images/model.jpg' %}" alt="" height="32" width="32" class="rounded-circle">

          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
            <li><a class="dropdown-item" href="#">Logout</a></li>

          </ul>
        </li>

      </ul>
   

    </div>
  </div>
</nav>