{% load static %}
{% load fontawesome_5 %}
{% fontawesome_5_static %}

<div class="card border-1 my-2">


  <div class="card-title border-1 p-3">
    <img src="{% static 'asset-images/model.jpg' %}" alt="" height="48" width="48"  class="rounded-circle">
    
    
    <span class="px-3">{{image.profile.user.username}}</span>

  </div>
<hr>
  <div class="card-body">

    <div class="card-img d-flex justify-content-center insta-post">

      <!-- <img src="{% static 'asset-images/model.jpg' %}" alt="" class=" "> -->
      <img src="{{ image.image.url }}" alt="" class="img-fluid ">

    </div>

    <div class="card-text">
      40 likes
    </div>
  </div>

  <div class="card-footer">
    <div class="actions">
      
      <!-- <i class="far fa-heart text-primary like-icon" style="color:blue;"></i> -->
      <i class="bi bi-heart text-primary fs-2"></i>
      <i class="bi bi-heart-fill text-primary fs-2"></i>
      <i class="bi bi-chat text-dark fs-2"></i>
      <i class="bi bi-send fs-2"></i>
      <img src="" alt="">
      <img src="" alt="">

    </div>

  </div>
</div>