{% extends 'base.html' %}

{% load static %}

{% load django_bootstrap5 %}

{% block content%}
{{form.media}}

<div class="row mt-3">

  <div class="col-md-2">


  </div>

  <div class="col-md-6">

    <div class="card  m-auto p-5 mt-3">
      {% if profile %}
      <h3>Profile</h3>
      <img src="{{profile.profile_photo.url}}" alt="">
      <p>Username: {{user.username}}</p>
      <p>Bio: {{profile.bio}}</p>
      <p>Following: {{following.count}}</p>

      {% else %}
      <h3 class="text-center">Update profile</h3>
      <form action="{% url 'profile' %}" method='post' enctype="multipart/form-data">

        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" class="btn btn-primary btn-lg" value="Post">


      </form>

      {% endif %}
    </div>


  </div>

  <div class="col-md-2">

    <h5>Suggestions For You</h5>
  </div>

  <div class="col-md-2"></div>
</div>

{% endblock %}