{% extends 'base.html' %}

{% load static %}

{% load django_bootstrap5 %}

{% block content%}
{{form.media}}

<div class="row mt-3">

  <div class="col-md-2">


  </div>

  <div class="col-md-6">

    <div class="card  m-auto p-5 mt-3">
      {% if profile %}
      <h3>Profile</h3>
      <img src="{{profile.profile_photo.url}}" alt="">
      <p>Username: {{user.username}}</p>
      <p>Bio: {{profile.bio}}</p>
      <p>Following: {{following.count}}</p>
      <p>Followers: {{followers.count}}</p>

      <hr>
      <div class="row">
        {% if uploaded_images %}
        
        {% for image in uploaded_images %}
        <div class="col-md-3">
          <img src="{{image.image.url}}" alt="" class="img-fluid">
        </div>


        {% endfor %}
        {% else %}

        <h5>No post found</h5>
        {% endif %}
      </div>

  

      {% endif %}
    </div>


  </div>

  <div class="col-md-2">

   
  </div>

  
</div>

{% endblock %}